@using Vjezba.Web.Mock
@model List<Vjezba.Web.Mock.Client>

<div class="alert alert-info mt-3" id="contactAlert">
    @ViewBag.Message
</div>

<form action="/Client/Index" method="get">
    <label for="client"></label>
    <input type="text" id="clientText" name="query">
    <input type="submit" value="Submit">
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Client</th>
            <th scope="col">Address</th>
            <th scope="col">Email</th>
            <th scope="col">City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td><a href="/Client/Details/@client.ID">@client.FullName</a></td>
                <td>@client.Address</td>
                <td>@client.Email</td>
                <td>
                    @if (client.City == null)
                    {
                        <text> </text>
                    }
                    else
                    {
                        @client.City.Name
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
